numpy
matplotlib
mypy
gym
pyyaml
git+https://github.com/numpy/numpy-stubs.git
stable-baselines[mpi]
stable-baselines3
sb3-contrib
tensorflow<2.0.0
scikit-learn
mpi4py
git+https://github.com/openai/mujoco-py
torch
